body {display: flex;
    background-color: white;
    justify-content:center;
}
h1{
    color: white; background-color:black;
    text-align: center;
    font-family: Sans-Serif;
}
#my-p{
    background-color: transparent;
    color: black;
}

p {color:black;
font-family: Sans-Serif;}

h3{
    color: white; background-color: black;
    text-align: center; font-family: Sans-Serif;
}
.block {
    background-color:transparent;
    height: 500px;
    width: 400px;
    color:black;
}

form {
    color:black;
padding-left: 10px;
padding-top: 20px;
    background-color:transparent;
    height: 300px;
    width: 300px;
    text-align: center;
}

input {border-radius: 20px;
    width: 70%;
    height: 30%;
}
div {
    margin: 5%;
}

label{
     text-align:center;
}